<button mat-button class="backButton" (click)="back()">
  <a>
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>Back</a>
</button>
<div class="Btn">
  <form class="example-form">
    <mat-form-field class="search-input">
      <input matInput placeholder="Search by Symptom Question ID" [(ngModel)]="search" name="search">
    </mat-form-field>
    <i class="fa fa-search w3-xlarge"></i>
  </form>
  <mat-card class="cardBox">
    <div class="example-container mat-elevation-z8">
      <table class="table">
        <thead>
          <tr class="headTitle">
            <th scope="col">Question ID</th>
            <th scope="col">Question</th>
            <th scope="col">Body point</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody class="textinbox">
          <tr *ngFor="let quest of question |filter:search">
            <td>{{quest.ID}}</td>
            <td>{{quest.question}}</td>
            <td>{{quest.body}}</td>
            <td>
              <button mat-button (click)="linkquestion(quest)">
                <i class="fa fa-edit w3-xlarge"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>
<div class="Btn" *ngIf="link">
  <mat-card class="cardBox">
    <div class="example-container mat-elevation-z8">
      <mat-form-field class="example-full-id">
        <input matInput placeholder="question id" [(ngModel)]="questionlink.ID" name="questionlink.ID" disabled="true">
      </mat-form-field>
      <mat-form-field class="example-full-id">
        <input matInput placeholder="question Detail" [(ngModel)]="questionlink.question" name="questionlink.question" disabled="true">
      </mat-form-field>
      <mat-form-field class="example-full-id">
        <input matInput placeholder="Body Point" [(ngModel)]="questionlink.body" name="questionlink.body" disabled="true">
      </mat-form-field>

      <table class="table">
        <thead>
          <tr class="headTitle">
            <th scope="col">Answer ID</th>
            <th scope="col">Answer</th>
            <th scope="col">Symptom</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody class="textinbox">
          <tr *ngFor="let ans of answerser">
            <td>{{ans.ID}}</td>
            <td>{{ans.answer}}</td>
            <td>{{ans.symptomid}}</td>
            <td>
              <mat-form-field class="example-full-id">
                <input matInput placeholder="next question" [(ngModel)]="ans.nextquestionID" name="ans.nextquestionID" (keyup)="updatenextquestion(ans)">
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
      <button mat-button color="warn" (click)="hid()">cancle</button>
      <button mat-button color="accent" (click)="hid()">ok</button>
      
    </div>
  </mat-card>

</div>