<button mat-button class="backButton" (click)="back()">
  <a class="setBackButton">
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>back</a>
</button>

<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">Edit Question
      <i class="material-icons">
        create
      </i>
      <form class="searchSetting">
        <mat-form-field class="search-input">
          <input matInput placeholder="Search by Symptom Disease name" [(ngModel)]="search" name="search">
        </mat-form-field>
        <i class="fa fa-search w3-xlarge"></i>
      </form>
    </div>
    <div class="panel-body">
      <div class="example-container">
        <table class="table">
          <thead>
            <tr class="headTitle">
              <th scope="col">Question ID</th>
              <th scope="col">Question</th>
              <th scope="col">Body point</th>
              <th scope="col">lv question</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody class="textinbox">
            <tr *ngFor="let quest of question |filter:search">
              <td>{{quest.ID}}</td>
              <td>{{quest.question}}</td>
              <td>{{quest.body}}</td>
              <td>{{quest.lv}}</td>
              <td>
                <button mat-button (click)="linkquestion(quest)">
                  <i class="fa fa-edit w3-xlarge"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="Btn" *ngIf="link">
    test
</div>-->
<!--<div class="Btn">
  <form class="example-form">
    <mat-form-field class="search-input">
      <input matInput placeholder="Search by Symptom Question ID" [(ngModel)]="search" name="search">
    </mat-form-field>
    <i class="fa fa-search w3-xlarge"></i>
  </form>
  <mat-card class="cardBox">
    <div class="example-container">
      <table class="table">
        <thead>
          <tr class="headTitle">
            <th scope="col">Question ID</th>
            <th scope="col">Question</th>
            <th scope="col">Body point</th>
            <th scope="col">lv question</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody class="textinbox">
          <tr *ngFor="let quest of question |filter:search">
            <td>{{quest.ID}}</td>
            <td>{{quest.question}}</td>
            <td>{{quest.body}}</td>
            <td>{{quest.lv}}</td>
            <td>
              <button mat-button (click)="linkquestion(quest)">
                <i class="fa fa-edit w3-xlarge"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>
<div class="Btn" *ngIf="link">
    test
</div>-->