
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-family: 'Kanit';
  }
  
  .example-full-id {
    width: 30%;
}
.example-full-id2 {
  width: 20%;
}
.example-full-width {
  width: 100%;
}
.example-form {
 
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 20%;
  text-align: left;
}
  .w3-row-padding img {
      margin-bottom: 20px;
  }
  
  .w3-sidebar {
      /*width: 150px;*/
      background: #cce6ff;
      height: 100%;
      width: 200px;
      position: absolute;
      z-index: 1;
      overflow: auto;
      top: 0px;
  }

  /*Disease file*/
  .w3-jumbo {
    font-size: 27px!important;
    text-align: left;
    margin-left: 25%;
    margin-top: 6%;
  }

  .backButton {
    font-size: 20px;
    text-align: left;
    /*margin-left: 25%;*/
    margin-top: 2%;
    font-family: 'Kanit';
    margin-left: 10%;
  }

  .fa fa-angle-left w3-xlarge {
    text-align: center;
  }
  .addchoiceBtn {
    margin-inline-start: 75%;
    margin-left: 75%;
  }
  .btnBottom {
    text-align: -webkit-center;
    text-align: -moz-center;
  }
  
  /* css table*/
  .example-container {
    min-width: 200px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 700px;
    
    /*width: 133%;*/
  }
  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  
  /* card */
  mat-card {
    max-width: 50%;
    margin: 2em auto;
    padding: 0px;
    text-align: center;
    
  }

  .mat-header-cell {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Kanit';
}

/* box table space of top */ 
.cardBox {
  margin-top: 0.5%;
}

/*pink circle*/
  .done[_ngcontent-c1] {
    position: fixed;
    bottom: 20px;
    right: 369px;
    top: 120px;;
    color: white;
  }

.pt {
  padding-top: 10%;
}
  

.Btn {
  margin: 10px 50px;
  display: block;
  text-align: -webkit-center;
  text-align: -moz-center;
}


/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.heroes a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.heroes a:hover {
  color:#607D8B;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  left: 194px;
  top: -32px;
  background-color: gray !important;
  color: white;
}
