
<!--
  <!-- SlideBar--
  <nav class="w3-sidebar w3-bar-block w3-small w3-center">
    <!--Image logo--
    <img src="../../assets/picture/logoSmart.PNG" style="width:100%">
    <br>
    <mat-card class="w3-bar-item w3-button w3-padding-large w3-hover-blue">{{str}}</mat-card>
    <a (click)="gohome()" class="w3-bar-item w3-button w3-padding-large w3-hover-blue">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>HOME</p>
    </a>
    <a  (click)="goaddmis()" class="w3-bar-item w3-button w3-padding-large w3-hover-blue">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>Admission</p>
    </a>
    <a (click)="logout()" class="w3-bar-item w3-button w3-padding-large w3-hover-blue">
      <i class="fa fa-sign-out w3-xxlarge"></i>
      <p>SIGN OUT</p>
    </a>
  </nav>

-->