<button mat-button class="backButton" (click)="back()">
  <a class="setBackButton">
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>back</a>
</button>


<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">Question Table
      <i class="material-icons">
        create
      </i>
      <form class="searchSetting">
        <mat-form-field class="search-input">
          <input matInput placeholder="Search by Symptom Disease name" [(ngModel)]="search" name="search">
        </mat-form-field>
        <i class="fa fa-search w3-xlarge"></i>
      </form>
    </div>
    <div class="panel-body">
      <div class="example-container">
        <table class="table">
          <thead>
            <tr class="headTitle">
              <th>Question ID</th>
              <th>Question</th>
              <th>Body point</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody class="textinbox">
            <tr *ngFor="let quest of question |filter:search">
              <td>{{quest.ID}}</td>
              <td>{{quest.question}}</td>
              <td>{{quest.body}}</td>
              <td>
                <button mat-button (click)="edit(quest)">
                  <i class="fa fa-edit w3-xlarge"></i>
                </button>
              </td>
              <td>
                <button mat-button (click)="delete(quest)">
                  <i class="fa fa-trash w3-xlarge"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="้boxHide" *ngIf="link">
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">Edit Question
        <i class="material-icons">
          create
        </i>
      </div>
      <div class="panel-body">

        <div class="example-container">
          <mat-form-field class="example-full-id">
            <input matInput placeholder="question id" [(ngModel)]="editquestion.ID" name="editquestion.ID" disabled="true">
          </mat-form-field>
          <mat-form-field class="example-full-id">
            <input matInput placeholder="question Detail" [(ngModel)]="editquestion.question" name="editquestion.question">
          </mat-form-field>

          <table class="table">
            <thead>
              <tr class="headTitle">
                <th scope="col">Answer ID</th>
                <th scope="col">Answer</th>
                <th scope="col">Symptom</th>
                <th scope="col">delete</th>
              </tr>
            </thead>
            <tbody class="textinbox">
              <tr *ngFor="let ans of answerser">
                <td>{{ans.ID}}</td>
                <td>{{ans.answer}}</td>
                <td>{{ans.symptomid}}</td>
                <td>
                  <button mat-button (click)="deleteans(ans)">
                    <i class="fa fa-trash w3-xlarge"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <button mat-button color="warn" (click)="cancle()">cancle</button>
        <button mat-button color="accent" (click)="okedit()">ok</button>

      </div>
    </div>
  </div>
</div>
