<button mat-button class="backButton" (click)="back()">
  <a>
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>Back</a>
</button>

<div class="Btn">
  <form class="example-form">
    <mat-form-field class="search-input">
      <input matInput placeholder="Search by Symptom Question ID" [(ngModel)]="search" name="search">
    </mat-form-field>
    <i class="fa fa-search w3-xlarge"></i>
  </form>
  <mat-card class="cardBox">
    <div class="example-container mat-elevation-z8">
      <table class="table">
        <thead>
          <tr class="headTitle">
            <th scope="col">Question ID</th>
            <th scope="col">Question</th>
            <th scope="col">Body point</th>
            <th scope="col">lv question</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody class="textinbox">
          <tr *ngFor="let quest of question |filter:search">
            <td>{{quest.ID}}</td>
            <td>{{quest.question}}</td>
            <td>{{quest.body}}</td>
            <td>{{quest.lv}}</td>
            <td>
              <button mat-button (click)="edit(quest)">
                <i class="fa fa-edit w3-xlarge"></i>
              </button>
            </td>
            <td>
              <button mat-button (click)="delete(quest)">
                <i class="fa fa-trash w3-xlarge"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>