<button mat-button class="backButton" (click)="back()">
  <a class="setBackButton">
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>back</a>
</button>


<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">Edit Disease
      <i class="material-icons">
        create
      </i>
      <form class="searchSetting">
        <mat-form-field class="search-input">
          <input matInput placeholder="Search by Symptom Disease name" [(ngModel)]="search" name="search">
        </mat-form-field>
        <i class="fa fa-search w3-xlarge"></i>
      </form>
    </div>
    <div class="panel-body">
      <div class="example-container">
        <table class="table">
          <thead>
            <tr class="headTitle">
              <th>ID</th>
              <th>Disease</th>
              <th class="setHeading1">Edit</th>
              <th class="setHeading2">Delete</th>
            </tr>
          </thead>
          <tbody class="textinbox">
            <tr *ngFor="let disease of diseaselist |filter:search">
              <td>{{disease.ID}}</td>
              <td>{{disease.name}}</td>
              <td>
                <button mat-button (click)="edit(disease)">
                  <i class="fa fa-edit w3-xlarge"></i>
                </button>
              </td>
              <td>
                <button mat-button (click)="delete(disease)">
                  <i class="fa fa-trash w3-xlarge"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="checkedit">
    <div class="container">
      <div class="panel panel-success">
        <div class="panel-heading">Edit
        </div>
        <div class="panel-body">

          <mat-form-field>
            <input matInput placeholder="Disease ID" [(ngModel)]="editdata.ID" disabled="true">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Disease name" [(ngModel)]="editdata.name">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Disease name" [(ngModel)]="editdata.detail">
          </mat-form-field>

          <table class="table">
            <thead>
              <tr class="headTitle">
                <th>symptom ID</th>
                <th>symptom Detail</th>
                <!-- <th class="setHeading1">Edit</th> -->
                <th class="setHeading2">Delete</th>
              </tr>
            </thead>
            <tbody class="textinbox">
              <tr *ngFor="let symptom of editsymptom">
                <td>{{symptom.ID}}</td>
                <td>{{symptom.name}}</td>
                <td>
                  <button mat-button (click)="deletesymptom(symptom)">
                    <i class="fa fa-trash w3-xlarge"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>


          <button mat-raised-button color="warn" (click)="cancle()">cancle</button>
          <button mat-raised-button color="primary" (click)="ok()">OK</button>
        </div>

      </div>
    </div>
  </div>


  <!--<div class="container" *ngIf="checkedit">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Disease ID" [(ngModel)]="editdata.ID" disabled="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Disease name" [(ngModel)]="editdata.name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Disease name" [(ngModel)]="editdata.detail">
      </mat-form-field>

    </mat-card>
    <mat-card>
      <table class="table">
        <thead>
          <tr class="headTitle">
            <th>symptom ID</th>
            <th>symptom Detail</th>
            <!-- <th class="setHeading1">Edit</th> --
            <th class="setHeading2">Delete</th>
          </tr>
        </thead>
        <tbody class="textinbox">
          <tr *ngFor="let symptom of editsymptom">
            <td>{{symptom.ID}}</td>
            <td>{{symptom.name}}</td>
            <td>
              <button mat-button (click)="deletesymptom(symptom)">
                <i class="fa fa-trash w3-xlarge"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button mat-button color="warn" (click)="cancle()">cancle</button>
      <button mat-button color="accent" (click)="ok()">OK</button>

    </mat-card>
  </div>-->