<div class="" style="background-color:rgba(245, 241, 241, 0.493);">

  <img class="img" src="/assets/picture/LOGO.png" />

  <div class="loginBox">
    <div class="formContent">
      <form class="example-form">
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" value="" [(ngModel)]="id" name="id">
          </mat-form-field>
        </tr>

        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="PASSWORD" value="" [(ngModel)]="pass" name="pass" [type]="password">
          </mat-form-field>
        </tr>

        <br>
      </form>
      <!-- Remind Passowrd -->
      <div class="Footer">
        <font color="red">{{warn}}</font>
        <input type="submit" name="" value="LOG IN" (click)="login()">

        <td>
          <!--<a href="#">Forgot Password </a>-->
          <button class="bt_register" mat-button color="black">Forget password</button>
        </td>
        <td>
          <a> &nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;&nbsp; </a>
        </td>
        <td>
          <!-- <a href="#">Register</a> -->
          <button class="bt_register" mat-button color="black" (click)="goregister()">Register</button>
        </td>

      </div>


    </div>
  </div>

</div>