<button mat-button class="backButton" (click)="back()">
  <a class="setBackButton">
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>back</a>
</button>

<div class="Btn">
  <table class="table">
    <tr>
      <button mat-raised-button class="b1" (click)="addquestion()">Add Question and Answer</button>
      <button mat-raised-button class="b1" (click)="editquestion()">Edit Question and Answer</button>
      <button mat-raised-button class="b1" (click)="linkquestion()">Link Question</button>
    </tr>
  </table>
</div>