<button mat-button class="backButton" (click)="back()">
  <a>
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>Back</a>
</button>

<div class="Btn">
  <!-- card first-->
  <mat-card class="cardBox">
    <div class="example-container">
      <br>
      <h2>Add Disease</h2>

      <form class="example-form">
        <td>
          <mat-form-field class="disease-input">
            <input matInput placeholder="Disease name" [(ngModel)]="disease.name" name="disease.name">
          </mat-form-field>
          <br>

          <!--<button mat-raised-button class="addBtn" mat-button color="accent" (click)="adddisease()"> ADD </button>-->
        </td>
      </form>
      <br>

      <form class="example-form">
        <mat-form-field class="search-input">
          <input matInput placeholder="Detail of Disease" [(ngModel)]="disease.detail" name="disease.detail">
        </mat-form-field>
        
      </form>
      <br>

      <form class="example-form">
        <mat-form-field class="search-input">
          <input matInput placeholder="Search by Symptom name" [(ngModel)]="search" name="search">
        </mat-form-field>
        <i class="fa fa-search w3-xlarge"></i>
      </form>
      <!--<div class="example-form">
        <font class="saveBtn" color="{{color}}">{{str}}</font>
      </div>-->
      <br>
    </div>
    <br>
 
    <h3 class="orChoose">Choose symptoms</h3>
    <div>
      <div *ngFor="let symptom of selectsymptom">
        <!--<mat-chip color="primary" selected="true" >{{a}}</mat-chip>-->
        <button mat-button mat-button class="buttonSymptom" color="accent" (click)="deletesymptom(symptom)"> {{symptom.name}} </button>
      </div>
    </div>

    <button mat-button color="primary" (click)="select(symptom)" *ngFor="let symptom of symptomshow|filter:search">{{symptom.name}}</button>
  </mat-card>
</div>

<div class="example-container-btn">
  <button mat-raised-button class="addBtn" mat-button color="accent" (click)="adddisease()"> ADD </button>
</div>
<br>
<div class="example-container-btn">
  <font class="" color="{{color}}">{{str}}</font>
</div>