<button mat-button class="backButton" (click)="back()">
  <a class="setBackButton">
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>back</a>
</button>

<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">Add Disease
      <i class="material-icons">
        add
      </i>
    </div>
    <div class="panel-body">
      <form class="example-form">
        <td>
          <mat-form-field class="textarea-full-width">
            <input matInput placeholder="Disease ID" [(ngModel)]="disease.name" name="disease.name">
          </mat-form-field>
          <br>
        </td>
      </form>

      <br>
      <form class="example-form">
        <mat-form-field class="textarea-full-width">
          <input matInput placeholder="Disease name" [(ngModel)]="disease.detail" name="disease.detail">
        </mat-form-field>
      </form>
      <br>
      <mat-form-field class="textarea-full-width">
        <textarea matInput placeholder="Disease description"></textarea>
      </mat-form-field>

      <br>
      <h5 class="orChoose">Please search the symptoms that are relevant.</h5>
      <form class="example-form">
        <mat-form-field class="search-input">
          <input matInput placeholder="Search by Symptom name" (keyup)="click($event)" [(ngModel)]="search" name="search">
        </mat-form-field>
        <i class="fa fa-search w3-meduim"></i>
      </form>

      <br>
      <div class="setBoxSize">
        <button mat-button color="primary" (click)="select(symptom)" *ngFor="let symptom of symptomshow|filter:search">{{symptom.name}}</button>
      </div>

      <hr>
      <h5 class="orChoose">Symptoms that your select.</h5>
      <div *ngFor="let symptom of selectsymptom">
        <button mat-button class="buttonSymptom" color="accent" (click)="deletesymptom(symptom)"> {{symptom.name}} </button>
      </div>

      <hr>
      <div class="example-container-btn">
        <button mat-raised-button class="addBtn" mat-button color="accent" (click)="adddisease()"> ADD </button>
      </div>

      <br>
      <div class="example-container-btn">
        <font class="" color="{{color}}">{{str}}</font>
      </div>

    </div>
    <!-- end panel-body-->

  </div>