<button mat-button class="backButton" (click)="back()">
  <a class="setBackButton">
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>back</a>
</button>


<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">Admission Queue
      <i class="material-icons">
        event
      </i>
    </div>

    <div class="panel-body">

      <div class="example-container">
        <div *ngIf="checkqueue">
          <table class="table">
            <thead>
              <tr class="headTitle">
                <th scope="col">Date queue</th>
                <th scope="col">ID Card</th>
                <th scope="col" (mouseenter)="checkstr()">Status</th>
                <th scope="col">Diagnosis</th>
              </tr>
            </thead>
            <tbody class="textinbox">
              <tr *ngFor="let q of queue">
                <td>{{q.que}}</td>
                <td>{{q.patientID}}</td>
                <td (mouseenter)="checkstr()">{{q.status}}</td>
                <td>
                  <button mat-button (click)="diagnosis(q.patientID)">
                    <i class="fa fa-edit w3-xlarge"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <div *ngIf="checkdiag">
          <div class="row">
            <h2>Patient Detail</h2>
            <hr>
            <div class="col-md-6">
              <div class="container">
                <table style="width:50%">
                  <tr>
                    FirstName
                  </tr>
                  <br>
                  <tr>
                    Lastname
                  </tr>
                  <br>
                  <tr>
                    Gender
                  </tr>
                  <br>
                  <tr>
                    Blood
                  </tr>
                  <br>
                  <tr>
                    History
                  </tr>

                </table>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container2">
                <table style="width:50%">
                  <tr>
                    {{user.name}}
                  </tr>
                  <br>
                  <tr>
                    {{user.lastname}}
                  </tr>
                  <br>
                  <tr>
                    {{user.gender}}
                  </tr>
                  <br>
                  <tr>
                    {{user.blood}}
                  </tr>
                  <br>
                  <tr>
                    <mat-form-field class="example-full-width">
                      <textarea matInput rows="8" cols="40" placeholder="History" [(ngModel)]="user.history" name="user.history"></textarea>
                    </mat-form-field>
                  </tr>

                </table>
              </div>

            </div>

          </div>

          <div class="loginBox">
            <div id="formContent">
              <h2>Diagnosis</h2>
              <hr>
              <br>
              <table style="width:60%">
                <tr>
                  <th></th>
                  <th></th>
                </tr>
                <tr *ngFor="let d of dshow">

                  <li>
                    <mat-chip (mouseenter)="enter(d.id)" (mouseleave)="outer()">{{d.name}}</mat-chip>
                    {{d.percen}} %
                  </li>
                  <mat-progress-bar mode="determinate" value="{{d.percen}}"></mat-progress-bar>

                </tr>
                <tr *ngIf="check">
                  <p>Disease detail : </p>
                  <br>
                  <p>{{str.detail}}</p>
                </tr>
              </table>
            </div>
          </div>

          <h2>Patient Answer</h2>
          <hr>

          <div class="container">
            <div class="panel panel-info" style="width: 90%;">
              <div class="panel-heading" style="font-size: 18px;">Question And Answer
              </div>
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <tr class="headTitle">
                      <th scope="col">Question</th>
                      <th scope="col">Answer</th>
                    </tr>
                  </thead>
                  <tbody class="textinbox">
                    <tr *ngFor="let s of set">
                      <td>{{s.question.questionDetail}}</td>
                      <td>{{s.answer.answer}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <!--<div class="loginBox">
            <div id="formContent">
              <h2>Patient Answer</h2>
              <hr>
              <br>
              <table style="width:60%">
                <tr>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <mat-card>
                    <!-- <h1>Question And Answer</h1> --
                    <table class="table">
                        <thead>
                          <tr class="headTitle">
                            <th scope="col">Question</th>
                            <th scope="col">Answer</th>
                          </tr>
                        </thead>
                        <tbody class="textinbox">
                          <tr *ngFor="let s of set">
                            <td>{{s.question.questionDetail}}</td>
                            <td>{{s.answer.answer}}</td>
                          </tr>
                        </tbody>
                      </table>


                    <!-- <li *ngFor="let q of question"> -->
          <!-- <div *ngIf="q" (onCreate)="yourMethod(item)"> 
                            </div> -->
          <!-- questionID : {{q.questionID}} -->
          <!-- question : {{q.questionDetail}} -->
          <!-- <div let a of answer>
                        <p>answer : </p>
                        </div> -->

          <!-- </li> --
          <!--</mat-card>--

          </tr>
          </table>
        </div>
      </div>-->


      <tr>
        <button class="setBtnBottom" mat-raised-button color="warn" (click)="cancle()">cancle</button>

        <button mat-raised-button color="primary" (click)="ok()">Finish Diagnosis</button>
      </tr>
    </div>
  </div>
</div>
</div>
</div>