<div class="Btn">
        <table class="table">

                <tr>
                        <button mat-raised-button color="primary" class="b1" (click)="diag()">Admission</button>

                </tr>

                <tr>
                        <button mat-raised-button class="b1" (click)="adds()">Add Symptom</button>
                        <button mat-raised-button class="b1" (click)="addd()">Add Disease</button>
                        <button mat-raised-button class="b1" (click)="editdisease()">Disease File</button>
                </tr>


                <td>

                        <button mat-raised-button class="b1" (click)="addq()">Add Question</button>
                        <button mat-raised-button class="b1" (click)="editquestion()">Question File</button>
                        <button mat-raised-button class="b1">Link Question</button>
                </td>

        </table>

</div>