<div class="Btn">
        <table class="table">
                <tr>
                        <button mat-raised-button color="primary" class="b1" (click)="diag()">View Admission Queue</button>
                </tr>
                
                <hr>
                <tr>
                        <button mat-raised-button class="b1" (click)="adds()">Symptom Manage</button>
                        <button mat-raised-button class="b1" (click)="diseasemanage()">Disease Manage</button>
                        <button mat-raised-button class="b1" (click)="questionmanage()">Question Manage</button>       
                </tr>
        </table>
</div>