<button mat-button class="backButton" (click)="back()">
  <a class="setBackButton">
    <mat-icon>
      <i class="fa fa-angle-left w3-large"></i>
    </mat-icon>back</a>
</button>



<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">Add Question
      <i class="material-icons">
        add
      </i>
    </div>
    <div class="panel-body">
      <div class="w3-cell-row">
        <div class="w3-container w3-cell">
          <div class="setPanelLeft">
            <form class="example-form">
              <mat-form-field class="example-full-id">
                <input matInput placeholder="Question ID" [(ngModel)]="id" name="id">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Question name" [(ngModel)]="question" name="question">
              </mat-form-field>
              <mat-checkbox [(ngModel)]="checkfirst" name="checkfirst">Is a First Question?</mat-checkbox>
              <br><br>

              <mat-select placeholder="Select body" [(ngModel)]="body" name="bshow">
                <mat-option *ngFor="let s of bshow" value="{{s}}">{{s}}</mat-option>
              </mat-select>

              &nbsp;&nbsp;&nbsp;&nbsp;
              <mat-form-field class="example-full-id">
                <input type="text" placeholder="answer ID" aria-label="Number" matInput [(ngModel)]="answerid" [matAutocomplete]="auto2"
                  name="answerid">
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option *ngFor="let option of answerset |filter:answerid" [value]="option.ID">
                    {{ option.ID }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <!--<button mat-raised-button (click)="addans(answerid)">+</button>-->
              <button mat-mini-fab (click)="addans(answerid)">
                <mat-icon aria-label="Example icon-button with a heart icon">
                  <i class="material-icons">
                    add
                  </i>
                </mat-icon>
              </button>

              <br><br><br>

              <div class="btnBottom">
                <button class="setButton" mat-raised-button mat-button color="warn" (click)="cancle()">cancle</button>
                <button class="setButton" mat-raised-button mat-button color="primary" (click)="addquestion()"> ADD Question</button>
              </div>

              <div class="">
                <font class="btnBottom" color="{{color}}">{{stradd}}</font>
              </div>
              <br>

              <div class="example-full-width" *ngFor="let answer2 of answer">
                <mat-form-field class="example-full-id">
                  <input matInput placeholder="answer" value="{{answer2.ans}}" name="answer2.ans" disabled="true">
                </mat-form-field>
                <mat-form-field class="example-full-id2">
                  <input matInput placeholder="answer id" value="{{answer2.ansid}}" name="answer2.ansid" disabled="true">
                </mat-form-field>
                <mat-form-field class="example-full-id">
                  <input type="text" placeholder="symptom" matInput value="{{answer2.symptom}}" name="answer2.symptom" disabled="true">
                </mat-form-field>
              </div>

            </form>
          </div>

        </div>


        <div class="w3-container w3-green w3-cell">
          <div class="example-container">
            <table class="table">
              <thead>
                <tr class="headTitle">
                  <th scope="col">ANSWER ID</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody class="textinbox">
                <tr *ngFor="let answer of ansidset">
                  <td>{{answer}}</td>
                  <td>
                    <button mat-button (click)="deleteanswerinquestion(answer)">
                      X
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">Add Answer in Answer table
      <i class="material-icons">
        playlist_add
      </i>
    </div>
    <div class="panel-body">

      <div class="example-full-width">
        <mat-form-field class="example-full-id2">
          <input matInput placeholder="answer id" [(ngModel)]="ans.ansid" name="ans.ansid">
        </mat-form-field>
        <mat-form-field class="example-full-id">
          <input matInput placeholder="answer" [(ngModel)]="ans.ans" name="ans.ans">
        </mat-form-field>

        <mat-form-field class="example-full-id">
          <input type="text" placeholder="symptom" aria-label="Number" matInput [(ngModel)]="ans.symptom" [matAutocomplete]="auto"
            name="ans.symptom">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of symptomlist |filter:ans.symptom" [value]="option.name">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <font color="red">{{strans}}</font>
      <button mat-raised-button class="addchoiceBtn" (click)="addanswer()"> Add answer choice </button>
      <br>

    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">Answer Table
      <i class="material-icons">
        list
      </i>
      <br>
      <form class="setSearch">
        <mat-form-field class="search-input">
          <input matInput placeholder="Search by answer id" [(ngModel)]="search" name="search">
        </mat-form-field>
        <i class="fa fa-search w3-meduim"></i>
      </form>
    </div>
    <div class="panel-body">
      <div class="example-container2">
        <table class="table">
          <thead>
            <tr class="headTitle">
              <th scope="col">Answer ID</th>
              <th scope="col">Answer Detail</th>
              <th scope="col">symptom of Answer</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody class="textinbox">
            <tr *ngFor="let answer of answerset |filter:search">
              <td>{{answer.ID}}</td>
              <td>{{answer.answer}}</td>
              <td>{{answer.symptomid}}</td>

              <td>
                <button mat-button (click)="delete(answer)">
                  <i class="fa fa-trash w3-xlarge"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>