<div class="" style="background-color:rgba(245, 241, 241, 0.493);">

  <img class="img">
  <h2>Register</h2>
  <div class="loginBox">
    <div class="formContent">
      <form class="example-form">
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" value="" [(ngModel)]="user.id" name="user.id">
          </mat-form-field>
        </tr>

        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="PASSWORD" value="" [(ngModel)]="user.pass" name="user.pass" type="password">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="RE-PASSWORD" value="" [(ngModel)]="repassword" name="repassword" type="password">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" value="" [(ngModel)]="user.name" name="user.name">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" value="" [(ngModel)]="user.lname" name="user.lname">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone Number" value="" [(ngModel)]="user.phone" name="user.phone">
          </mat-form-field>
        </tr>
        <tr>
        <font color="{{color}}">{{str}}</font>
        </tr>
        <button mat-raised-button color="warn" (click)="cancle()">Cancle</button>
        <td>

        </td>
        <button mat-raised-button color="primary" (click)="register()">Register</button>
        <br>
      </form>
    </div>
  </div>

</div>