<div class="" style="background-color:rgba(245, 241, 241, 0.493);">

  <img class="img">

  <div class="loginBox">
    <div class="formContent">
      <h2>Register</h2>
      <form class="example-form">
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="IDENTITY CARD" value="" [(ngModel)]="user.id" name="user.id">
          </mat-form-field>
        </tr>

        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="PASSWORD" value="" [(ngModel)]="user.pass" name="user.pass" type="password">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="RE-PASSWORD" value="" [(ngModel)]="repassword" name="repassword" type="password">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="FIRSTNAME" value="" [(ngModel)]="user.name" name="user.name">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="LASTNAME" value="" [(ngModel)]="user.lname" name="user.lname">
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="TEL." value="" [(ngModel)]="user.phone" name=user.phone>
          </mat-form-field>
        </tr>
        <tr>
          <font color="{{color}}">{{str}}</font>
        </tr>
        <div class="buttonDown">
          <br>
          <button mat-raised-button color="warn" (click)="cancle()">Cancle</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="primary" (click)="register()">Register</button>
        </div>

      </form>
    </div>
  </div>

</div>


